.entry {
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 14px;
    position: relative;
    top: -4px;
}
.frontier-entry {
    display: inline-block;
}

.views-100 {
    background-color: #fba7ac;
}
.views-25 {
    background-color: lighten(#fba7ac, 5%);
}
.views-5 {
    background-color: lighten(#fba7ac, 10%);
}
.views-1 {
    background-color: lighten(#fba7ac, 15%);
}

.modified-bar {
    display: inline-block;
    width: 5px;
    margin: 0 5px;
    height: 23px;
    position: relative;
    top: 2px;
}
.modified-bar-green {
    background-color: mediumseagreen;
}

.entry-shell {
    display: block;
    height: 27px;

    &:hover {
        cursor: pointer;
        background-color: #eee;
    }
}
.entry-shell-frontier {
    display: inline-block;
    padding: 5px;
    height: 30px;
}
.entry-shell-selected {
    background-color: lightblue;

    &:hover {
        background-color: lightblue;
    }
}
