.entry {
    border-style: solid;
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 14px;
    margin: 1px 0;

    &:hover {
        background-color: #bbb;
    }
}

.entry-modified-bar {
    display: inline-block;
    width: 3px;
    margin: 0 3px;
}

.entry-data-score {
    width: 25px;
    float: right;
    font-size: 14px;
}

.entry-selected {
    background-color: lightblue;
    border: 1px solid darkblue;
}

.frontier-entry {
    display: inline-block;
}

.views-100 {
    background-color: #fcbfc3;
}
.views-25 {
    background-color: lighten(#fcbfc3, 20%);
}
.views-5 {
    background-color: lighten(#fcbfc3, 40%);
}
.views-1 {
    background-color: lighten(#fcbfc3, 60%);
}
